<style>
  
  td
  {
 padding: 5px;
 margin: 10px;
 background-color: yellow;
 width:25%;
  }
  a:link
  {
  padding: 15px;
  margin: 10px;
  color: red;
  }
  a:hover
  {
 color:black;3

  }
</style>